.hidden {
  display: none;
}
#bg {
  background-position: center;
  background-size: cover;
}
#greeting {
  color: white;
}
#weather {
  width: 300px;
  padding: 0.5em;
  margin-right: 10px;
  text-align: right;
  color: white;
  top: 0;
  right: 0;
  position: absolute;
}
.flex_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#clock {
  flex: 1;
  color: white;
  font: bold 15em sans-serif;
}
#quote {
  flex: 0.5;
  width: 500px;
  margin-top: -10em;
  background-color: #f643;
  color: white;
  font: small-caps bold 20px/1 sans-serif;
  padding: 10px 10px 10px 10px;
}

#todo-form {
  width: 300;
  display: block;
}
#submit {
  background: none;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 0.6em;
  font-weight: bold;
  margin: 0.1em auto;
  padding: 0.2em 0.6em;
  text-transform: uppercase;
}
#todo-input {
  width: 300;
  background: none;
  border: #f000;
  color: white;
  padding: 0.5em;
  text-underline-position: below;
  background: linear-gradient(#fff, #fff) center bottom 5px / calc(100% - 10px)
    2px no-repeat;
  background-color: #ff000000;
  padding: 10px;
}

#todo-input::placeholder {
  color: white;
}

#todo-list {
  width: 300;
  display: block;
  color: white;
  background-color: #f100;
}

li {
  padding: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

button {
  background: none;
  border: #f000;
  color: #fff;
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
}
